.service-group ul {
  margin-left: 0;
  
  li {
    list-style-type: none;
  }
}

ul#recommendations {
  li {
    list-style-type: none;
  }
}

#professionalGallery .slick-slide {
  overflow: hidden;
}
