# General
.DS_Store
.idea
.ruby-version
application/bin/*
!application/bin/wait-for-db.sh
application/build
application/cache.properties

# Composer
application/vendor

# Frontend
.sass-cache/*
**/node_modules
**/bower_components
**/css/foundation

# SF2
application/web/bundles/
application/web/uploads/*
application/web/css/*.css
application/web/js/*.js
application/app/bootstrap.php.cache
application/app/cache/*
application/app/config/parameters.yml
application/app/logs/*
!application/app/cache/.gitkeep
!application/app/logs/.gitkeep
application/src/Application/DataFixtures/data/*
