# General
.DS_Store
.idea
.ruby-version
application/bin/*
!application/bin/wait-for-db.sh
!application/bin/wait-for-webserver.sh
!application/bin/configure-web-node.sh
application/build
application/cache.properties
.env
docker/services/php5-fpm/php.ini

# Composer
application/vendor

# Frontend
.sass-cache/*
**/node_modules
**/bower_components
**/css/foundation

# SF2
application/web/bundles/
application/web/uploads/*
application/web/css/*.css
application/web/css/images/
application/web/js/*.js
application/app/bootstrap.php.cache
application/app/cache/*
application/app/config/parameters.yml
application/app/logs/*
!application/app/cache/.gitkeep
!application/app/logs/.gitkeep
application/src/Application/DataFixtures/data/*
application/src/Application/DataFixtures/fixtures.media.tar.gz

# Build artifacts
application/app/build/

# Mounted tmp directory
application/app/tmp