<div class="craue_formflow_buttons">
	<button type="submit" class="craue_formflow_button_last">
		{%- if flow.getCurrentStepNumber() < flow.getLastStepNumber() -%}
			{{- 'button.next' | trans({}, 'Application') -}}
		{%- else -%}
			{{- 'button.finish' | trans({}, 'Application') -}}
		{%- endif -%}
	</button>
</div>
