<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% if app.environment == 'dev' %}
            <script type="text/javascript" src="/js/head_scripts.js"></script>
        {% else %}
            <script type="text/javascript" src="/js/head_scripts.min.js"></script>
        {% endif %}
    </head>
    <body>
        {% block header %}
            {% include '_header.html.twig' %}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            {% include '_footer.html.twig' %}
        {% endblock %}

        {% block scripts %}
        {% if app.environment == 'dev' %}
            <script type="text/javascript" src="/js/scripts.js"></script>
        {% else %}
            <script type="text/javascript" src="/js/scripts.min.js"></script>
        {% endif %}
        {% endblock %}

        {% if not scripts.isEmpty() %}
            <script>
                $(document).ready(function() {
                    {{ scripts|raw }}
                });
            </script>
        {% endif  %}
    </body>
</html>
