{% extends 'base.html.twig' %}

{% block body %}

    <div class="panel">
        <div class="row">
            <div class="big-search large-12 columns">
                <h1>Foglalj időpontot szépség- és wellness szakembereknél a környékeden</h1>
                <form>
                    <div class="row">
                        <div class="small-12 medium-3 columns">
                            <div class="row">
                                <div class="small-3 columns">
                                    <label for="right-label" class="right inline">Label</label>
                                </div>
                                <div class="small-9 columns">
                                    <input type="text" id="right-label" placeholder="Inline Text Input">
                                </div>
                            </div>
                        </div>

                        <div class="small-12 medium-3 columns">
                            <div class="row">
                                <div class="small-3 columns">
                                    <label for="right-label" class="right inline">Label</label>
                                </div>
                                <div class="small-9 columns">
                                    <input type="text" id="right-label" placeholder="Inline Text Input">
                                </div>
                            </div>
                        </div>

                        <div class="small-12 medium-3 columns">
                            <div class="row">
                                <div class="small-3 columns">
                                    <label for="right-label" class="right inline">Label</label>
                                </div>
                                <div class="small-9 columns">
                                    <input type="text" id="right-label" placeholder="Inline Text Input">
                                </div>
                            </div>
                        </div>

                        <div class="small-12 medium-3 columns">
                            <div class="row">
                                <button type="submit" class="button">Keresés</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-8 columns">
            <form action="">
                <select name="countySelector" id="countySelector">
                    <option value="Budapest" data-type="city">Budapest</option>
                {% for county in countiesWithFeaturedProfessionals %}
                    <option value="{{ county.name }}" data-type="county">{{ county.name }} megye</option>
                {% endfor %}
                </select>
            </form>

            <article id="featuredProfessionals">
                {{ render(controller('app.default_controller:embeddedFeaturedProfessionalsAction')) }}
            </article>

            <hr>

            Ahogy itt is láthattad...

        </div>

        <aside class="large-4 columns">

            <div class="panel">
                <a href="">Böngéssz szakembereink ajánlataiból</a>
            </div>

            <div class="panel">
                <a href="#">
                    <img src="" alt="">
                    A nap fotója
                </a>
            </div>

        </aside>
    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        (function($) {
            $(document).ready(function() {
                var $countySelector = $('#countySelector');
                $countySelector.change(function(){
                    var data = {},
                        type = $countySelector.find('option:selected').data('type');
                    data[type] = $countySelector.val();
                    $.ajax({
                        url : '/embedded_featured_professionals',
                        type: 'post',
                        data : data,
                        success: function(html) {
                            $('#featuredProfessionals ul').replaceWith($(html));
                        }
                    });
                });
            });
        })(jQuery);
    </script>
{% endblock %}
